:root {
  --grigio: #999;
  --grigio-scuro: #737171;
  --grigio-chiaro: #e6e6e6;
  --grigio-chiarissimo: #f7f7f7;
  --blu-chiarissimo: #d7dade;
  --blu: #035bb4;
  --blu-scuro: #09224f;
  --blu-grigio: #5e6a77;
  --blu-grigio-chiaro: #7c8d9e;
  --blu-grigio-scuro: #313940;
  --viola: #5c1562;

  --border-radius-full: 10rem;
}
